html {
    font-size: 16px;
}


body {
    background-color: #c5c1c0;
}


/*Header*/

#logo {
    height: 40rem;
}



/*Content*/

.left-content {
    float: left;
}

.right-content {
    float: right;
}

.text {
    height: 20rem;
    width: 20rem;
    border-width: thin;
    border-style: solid;
    border-color: black;
}

.image-container {
    height:20rem;
    width: 20rem;
    border-width: thin;
    border-style: solid;
    border-color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}






/* Footer */

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #c5c1c0;
  }
  
  .footer-text-left {
      font-size:25px;
      padding-left:40px;
      float:left;
      word-spacing:20px;
    }
    
    a.menu:hover {
      background-color:#f7ce3e;
      font-size:20px;
    }
  

  
  .footer-content-right {
    padding-right:40px;
    margin-top:20px;
    float:right;
  }
  
  .icon-style {
    height:40px;
    margin-left:20px;
    margin-top:5px;
  }
  
  .icon-style:hover {
    background-color:yellow;
    padding:5px;
  }