
/*Header*/

header {
  height: 60rem;
  border-width: thin;
  border-style: solid;
  border-color: black; 
}

#logo {
  display: block;
  width: 40rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;

}

